[lammps]
LAMMPS_path = lmp
LAMMPS_arguments = -sf omp
MPI_path = srun
MPI_arguments =

[job]
# List (space-separated) of variables that need to be passed to LAMMPS
required_vars =
slurm_sbatch_args = sbatch
input_file = 
log_file = 

[static_vars]
initial_data_file =

[dyn_vars]
# List (space-separated) of variables that are varied

